.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 3rem;
}

.details {
  width: 28rem;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between form elements */
}

.error-list {
  color: red;
}

.button {
  text-align: center;
  margin-top: 1rem;
}

.button button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: #0056b3;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
}